body {
    padding: 0px;
    margin: 0px;
}
.game-container {
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
}
.game-container h2 {
    margin-top: 0px;
    font-size: 32px;
    color: #fff;
    padding-top: 30px;
}
.start-btn {
    padding: 10px 50px;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border: 4px solid rgb(4, 0, 255);
    cursor: pointer;
    border-radius: 4px;
    background-color: #0052cc;
    color: #fff;
    display: none;
}
.start-btn:hover {
    /* background-color: rgba(255, 255, 255, 0.13);  */
}
.game-control-level button{
    padding: 7px 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px 5px;
}
.game-control-level button.active {
    background-color: rgb(255 103 103);
}
.level1 {
    background-color: rgb(206, 147, 216) ;
}
.level2 {
    background-color: rgb(144, 202, 249);
}
.level3 {
    background-color: rgb(0, 206, 127);
}
/* rgb(206, 147, 216) */

.score-wrap {
    margin: 30px auto 0px; 
    /* text-transform: uppercase; */
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #0052cc;
    display: inline-block;
    padding: 10px 30px;
}
.game-board {
    height: 400px;
    max-width: 500px;
    background-color: rgb(233, 233, 233);
    margin: 10px auto 0px; 
    border: 4px solid rgb(103, 86, 255);
    box-shadow: 10px 30px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius:  2px;
    /* cursor: url(./img/the-flagpole-g6104ef394_1920.jpg) 15 15, move;
     */
     /* cursor: url("https://cdn.pixabay.com/photo/2018/08/14/11/35/russia-3605381_960_720.jpg"), auto; */

     background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
     cursor: crosshair;
     border-bottom: 4px dotted red;
     overflow: hidden;
     position: relative;
}
.game-board img {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    display: block;
}
.game-over {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.241);
    font-size: 48px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    display: none;
    position: absolute;
    top: 0px;
    cursor: pointer;
    z-index: 9999;
    color: #fff;
}
.game-over-hide {
    display: block;
}
.game-over button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: none;
    background-color: rgba(0, 128, 0, 0.772);
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
}
.audio, .audio-end {
    visibility: hidden;
}
.gm-level.active {

}
.reset-game {
    color: #fff;
    background-color: red;
    padding: 10px 30px; 
    border: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 3px solid #fff;
}
@media only screen and (max-width: 600px) {
    .reset-game {
    bottom: auto;
    top: 10px;
    right: 0px;
    }
  }